/* Thanks to these tutorials for creating the navbar:

    https://www.youtube.com/watch?v=f3uCSh6LIY0
    https://www.youtube.com/watch?v=oLgtucwjVII
*/

.navbar {
    overflow: hidden;
    background-color: indianred;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 25px;
}

.navbar label {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
    
}

.navbar ul {
    list-style-type: none;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.navbar ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0%;
    padding: 0%;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    
    text-align: center;
    height: 80px;
    width: 100%;
}
.navbar a:hover {
    background-color: rgb(206, 75, 75);
    transition: .4s;
}

.background {
    background-color: rgb(235, 234, 234);
    border-radius: 12px;
}

.like-display {
    float: left;
    margin-right: 10px;
}

.title {
    color: indianred;
    font-weight: bold;
}

.search-name {
    color: indianred;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(235, 234, 234);
    border:none;
}

.search-name button:hover {
    color: rgb(206, 75, 75);
    transition: .4s;
}

.error {
    color: rgb(206, 75, 75);
    font-weight: bold;
}