{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block JavaScript %}
{% endblock %}

{% block main%}
<div class="mb-0 text-center">
    <form action="/login" method="post">
        <div class="my-3">
            <h1>O-Taste registration</h1>
        </div>
        <section class="my-2 mx-5 px-2 py-2 background">
            <h3>User info</h3>
            <div class="mb-3 mt-2">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password" required>
            </div>
        </section>

        <section class="my-2 mx-5 px-2 py-2 background">
            <h3>Personal info</h3>
            <div class="mb-3 mt-2">
                <h5>Your Birthday</h5>
                <input autocomplete="off" class="form-control mx-auto w-auto" id="birthday" name="birthday" type="date" placeholder="Birthday"  required>
            </div>
            <div class="mb-3">
                <select name="gender" class="form-control mx-auto w-auto" required>
                    <option disabled selected>Your gender<option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Non-binary">Non-binary</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="text" required>
            </div>
        </section>

        <div class="mb-3">
            <button class="btn btn-primary" type="submit" style="background-color: indianred; border:none; font-size: 25px;">Register</button>
        </div>
    </form>
</div>
{% endblock %}