{% extends "layout.html" %}

{% block title %}
    Look for a friend!
{% endblock %}

{% block JavaScript %}
{% endblock %}

{% block main %}
    <div class="mx-4 my-4">
        <section class="background px-4 py-4 mb-2 text-center">
            <h1 class="title">Search for a friend!</h1>
            <form action="/search" method="post">
                <div class="mt-2">
                    <input class="form-control" type="text" name="search" placeholder="Username">
                </div>
                <div class="mt-2">
                    <select name="interest" class="form-control mx-auto w-auto" style="font-size: 20px;">
                        <option disabled selected>Filter by interest<option> 
                        {% for interest in interests %}
                            <option value="{{ interest.name }}">{{ interest.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if status == 1 %}
                    <p>That interest is not in the list</p>
                {% endif %}
                <div class="mt-2">
                    <button class="btn btn-primary" type="submit" style="background-color: indianred; border:none; font-size: 20px;">Search!</button>
                </div>
            </form>
        </section>
        {% if search %}
            <section class="background px-4 py-4 mb-2 text-center">
                {% if results %}
                    <h2 class="title">Your Results:</h2>
                    <table class="table">
                    {% for result in results %}
                        <tr>
                            <td><a class="search-name" href="/other_profile">{{ result.username }}</a></td>
                            <td>Interested in: {{result.interest}}</td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    <h2 class="title">No results found</h2>
                {% endif %}
            </section>
        {% endif %}
    </div>
{% endblock %}